
<% if @songs %>
	<% sort_desc_by_votes.each do |song| %>
	  <div class="song" class="panel panel-default">
		   
	    <p class"panel-body">
	      <%= song.vote_count %>
	      <% unless current_user_voted?(song) %>
		      <a href="/vote/<%= song.id %>">Vote!</a>
		    <% end %>
	      <a href="/song/<%= song.id %>"><%= song.song_title %></a>
	      <a href="<%= song.url %>"><%= song.url %></a>
	    </p>
      
	    <div class="panel-footer small">submitted by: <a href="/user_id/<%= post_user(song) %>"><%= post_user(song) %></a>
      </div>
	  </div>
	<% end %>  
<% end %>

	<!-- Display error messages -->
<% if @song && @song.errors.any? %>
  <div class="alert alert-danger">
    <strong>Some issues with your song, please fix them:</strong>
    <ul>
      <% @song.errors.full_messages.each do |song| %>
      <li><%= song %></li>
      <% end %>
    </ul>
    <a href="/">Back!</a>
  </div>
<% end %>

<% if session[:id] %>
	<form method="post" action="/" class="form-inline">
	  <div class="form-group">

	  <div>
	    
		  <div class="form-group">
		    <label>Song:</label>
		    <input type="text" name="song_title" value="<%= @song && @song.song_title %>" class="form-control">
		  </div>
		  
		  <div class="form-group">
		    <label>URL:</label>
		    <input type="text" name="url" value="<%= @song && @song.url %>" class="form-control">
		  </div>

	  </div>

	    <input type="submit" value="Submit" class="btn-default">

		</form>
	<% end %>
